.main-section{
    background: url('../../assets/images/mainBg.png') no-repeat;
    background-size: cover;
    padding: 100px 50px;
    
    .main-title{
        color:#fff;
        font-size:60px;
        font-weight: 700;
        text-transform: uppercase;
    }
}